/* Shared */

/* Loading container */
.loading-dark,
.loading-light
{
  text-align: center;
  display: grid;
  height: 240px;
  width: 540px;
  position: fixed;
  left: 35vw;
  top: 35%;
  border-radius:4px;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

/* Loading type container (i.e. Fetching Persons) */
.loadingPart-dark,
.loadingPart-light
{
  display: inline-flex;
  margin-left: 40px;
  height: 100px;
}

/* Loading text (i.e. Fetching Persons Text) */
.loadingText-dark,
.loadingText-light
{
  height: 100px;
  line-height: 100px;
  width: 300px;
  text-align: left;
}

/* Loading animation */
.loadingAnimation-dark,
.loadingAnimation-light
{
  height: 100px;
  width: calc(100% - 300px);
}

/* Dark */

/* Loading container */
.loading-dark{
  background-color:#343a40;
  color:#fff;
}


/* Light */

/* Loading container */
.loading-light{
  background-color:#f8f9fa;
  color:#000;
}

/* Loading animation button */
[role=button]{
  float: right;
}