/* Login container */
.login-dark {
  height:1000px;
  position:relative;
}

/* Login form */
.login-dark form {
  max-width:320px;
  width:90%;
  background-color:#343a40;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:40%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

/* Illustration (fa-fa image) */
.login-dark .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#2980ef;
}

/* Form fields */
.login-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

/* Form buttons */
.login-dark form .btn-primary {
  background:#2f6ec2;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

/* Form buttons on hover & active*/
.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#214a80;
  outline:none;
}

/* Form 'Forgot password' button */
.login-dark form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

/* Form 'Forgot password' button on hover & active */
.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity:1;
  text-decoration:none;
}

/* Form buttons active */
.login-dark form .btn-primary:active {
  transform:translateY(1px);
}

/* Password requirements div */
.password-req{
  font-size: small;
}

/* Password requirements list */
.password-req ul{
  list-style: none;
  padding: 0;
}

/* Password requirements list element */
.password-req ul li{
  padding-left: 1.3em;
  margin: 0;
}

/* Password requirements list element before (icon) */
.password-req ul li:before{
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  margin: 0;
}

/* Password requirements list element before (icon) for true regex */
.password-req ul li.good:before{
  content: "\f00c";
}

/* Password requirements list element before (icon) for false regex */
.password-req ul li.wrong:before{
  content: "\f00d";
}

