/* Shared */

/* Login/Signup Container */
.login-dark,
.login-light,
.signup-dark,
.signup-light
{
  height:1000px;
  position:relative;
}

/* Login/Signup Form */
.login-dark form,
.login-light form,
.signup-dark form,
.signup-light form 
{
  max-width:320px;
  width:90%;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:40%;
  left:50%;
  box-shadow: var(--main-box-shadow);
}

/* Illustration (fa-fa image) */
.login-dark .illustration,
.login-light .illustration,
.signup-dark .illustration,
.signup-light .illustration 
{
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
}

/* Form fields */
.login-dark form .form-control,
.login-light form .form-control,
.signup-dark form .form-control,
.signup-light form .form-control
{
  background:none;
  border:none;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

.login-dark form .form-control:focus,
.login-light form .form-control:focus,
.signup-dark form .form-control:focus,
.signup-light form .form-control:focus,
.login-dark form .btn-primary:focus,
.login-light form .btn-primary:focus,
.signup-dark form .btn-primary:focus,
.signup-light form .btn-primary:focus
{
  outline: 0; 
  box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);
}

/* Form buttons */
.login-dark form .btn-primary,
.login-light form .btn-primary,
.signup-dark form .btn-primary,
.signup-light form .btn-primary
{
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

/* Form buttons on hover & active */
.login-dark form .btn-primary:hover, 
.login-dark form .btn-primary:active,
.login-light form .btn-primary:hover, 
.login-light form .btn-primary:active,
.signup-dark form .btn-primary:hover, 
.signup-dark form .btn-primary:active,
.signup-light form .btn-primary:hover, 
.signup-light form .btn-primary:active
{
  outline:none;
}

/* Form buttons active */
.login-dark form .btn-primary:active,
.login-light form .btn-primary:active,
.signup-dark form .btn-primary:active,
.signup-light form .btn-primary:active
{
  transform:translateY(1px);
}

/* Password requirements div */
.password-req{
  font-size: small;
}

/* Password requirements list */
.password-req ul{
  list-style: none;
  padding: 0;
}

/* Password requirements list element */
.password-req ul li{
  padding-left: 1.3em;
  margin: 0;
}

/* Password requirements list element before (icon) */
.password-req ul li:before{
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  margin: 0;
}

/* Password requirements list element before (icon) for true regex */
.password-req ul li:before{
  content: "\f00c";
}

/* Password requirements list element before (icon) for false regex */
.password-req ul li.errortext:before{
  content: "\f00d";
}


/* Dark */

/* Form */
.login-dark form,
.signup-dark form {
  background-color: var(--main-surface-dark);
  color: var(--main-on-surface-dark);
}

/* Form fields */
.login-dark form .form-control,
.signup-dark form .form-control
{
  border-bottom:1px solid var(--main-primary-dark);
}

/* Illustration (fa-fa image) */
.login-dark .illustration,
.signup-dark .illustration
{
  color: var(--main-primary-dark);
}

/* Form buttons */
.login-dark form .btn-primary,
.signup-dark form .btn-primary{
  background-color: var(--main-primary-dark);
  color: var(--main-on-primary-dark);
}

/* Form buttons on hover & active*/
.login-dark form .btn-primary:hover, 
.login-dark form .btn-primary:active,
.signup-dark form .btn-primary:hover, 
.signup-dark form .btn-primary:active
{
  background: var(--main-primary-hover-dark);
}


/* Light */

/* Form */
.login-light form,
.signup-light form {
  background-color: var(--main-surface-light);;
  color: var(--main-on-surface-light);
}

/* Form fields */
.login-light form .form-control,
.signup-light form .form-control
{
  border-bottom:1px solid var(--main-primary-light);
}

/* Illustration (fa-fa image) */
.login-light .illustration,
.signup-light .illustration
{
  color: var(--main-primary-light);
}

/* Form buttons */
.login-light form .btn-primary,
.signup-light form .btn-primary{
  background-color: var(--main-primary-light);
  color: var(--main-on-primary-light);
}

/* Form buttons on hover & active*/
.login-light form .btn-primary:hover, 
.login-light form .btn-primary:active,
.signup-light form .btn-primary:hover, 
.signup-light form .btn-primary:active
{
  background: var(--main-primary-hover-light);
}