/* Active person */
.active{
  border-color: #66ff66 !important;
}

/* Error in Forms */
.error {
  border: 1px solid red;
}

/* Scalable Vector Graphics */
.relationshipContainer-dark,
.relationshipContainer-light
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Scalable Vector Graphics  Light */
.relationshipContainer-light{
  filter: invert(1)
}

/* Bottom-Right buttons */
.btn-circle.btn-xl {
  width: 55px;
  height: 55px;
  padding: 8px 14px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  z-index: 99;
}

/* Circle for Bottom-Right buttons */
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  z-index: 99;
  margin: 2px;
}

/* Person buttons */
.buttons{
  display: inline-block;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;
}

/* Person operating buttons (delete/reset/save/add) */
.operating-buttons{
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
}

/* Datepicker container */
.react-datepicker-wrapper{
  width: 100%;
}

/* Relationship names on hover (Tooltip) */
.relationshipNames{
  font-size: calc(12px + .5vw);
  font-family: fantasy;
  font-style: oblique;
}

/* List for Form -> Select*/
ul.select-list li{
  margin: 0px;
}