/* Scalable Vector Graphics */
.relationshipContainer-dark,
.relationshipContainer-light
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Scalable Vector Graphics  Light */
.relationshipContainer-light{
  filter: invert(1)
}

/* Bottom-Right buttons */
.btn-circle.btn-xl {
  width: 55px;
  height: 55px;
  padding: 8px 14px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  z-index: 99;
}

/* Circle for Bottom-Right buttons */
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  z-index: 99;
  margin: 2px;
}

/* Person buttons */
.buttons{
  display: inline-block;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;
}

/* Person operating buttons (delete/reset/save/add) */
.operating-buttons{
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
}

.btn.famtree.dark{
  border-color: var(--main-secondary-dark);
  color: var(--main-secondary-dark);
}

.btn.famtree.dark:hover{
  background-color: var(--main-secondary-dark);
  color: var(--main-on-secondary-dark);
}

.btn.famtree.light{
  background-color: var(--main-secondary-light);
  border-color: var(--main-secondary-light);
  color: var(--main-on-secondary-light);
}
.btn.famtree.light:hover{
  background-color: var(--main-secondary-hover-light);
  border-color: var(--main-secondary-hover-light);
  color: var(--main-on-secondary-hover-light);
}