@media only screen and (max-width: 765px) {

  .Toastify__toast{
    width: 100% !important;
  }

  .Toastify__toast-container--top-left{
    left: 0 !important;
  }

  .color-picker{
    display: none;
  }

  .loading-light,
  .loading-dark{
    width: calc(100% - 10vw) !important;
    left: 5vw !important;
  }

  .loadingText-light,
  .loadingText-dark{
    width: 60vw !important;
    font-size: 4vw !important;
  }
}