.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.person{
  display: inline-block;
  margin: 5px;
  width: 15%;
  position: relative;
  padding: 5px;
}

.person img{
  width: 100%;
}

.name{
  width: 100%;
}
/*
.buttons{
  visibility: hidden;
}

.buttons:hover{
  visibility: visible;
  position: absolute;
  bottom: 0;
  right: 0;
}
*/