.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.person{
  display: inline-block;
  margin: 5px;
  width: 15%;
  position: relative;
  padding: 5px;
}

.active{
  border-color: green !important;
}

.person img{
  width: 100%;
}

.name{
  width: 100%;
}

.error {
  border: 1px solid red;
}

.invisible{
  visibility:hidden;
  margin: 0%;
  height: 0;
  width: 0;
  padding: 0;
}