/* Global Modal */

/* Shared */

/* Whole modal */
.modal .modal-content{
    border-radius: .5em;
}

/* Modal header */
.modal .modal-header-dark,
.modal .modal-header-light
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
}

/* Modal close button */
.modal .modal-open-dark .close,
.modal .modal-open-light .close
{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    opacity: .5;
}

/* Modal body */
.modal .modal-body-dark,
.modal .modal-body-light{
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

/* Form Fields */
.form-control.dark,
.form-control.light,
.modal .modal-body-dark .dropdown-heading,
.modal .modal-body-light .dropdown-heading
{
    background: none !important;
    border: none !important;
    border-radius: .35em;
    box-shadow: none;
    outline: none;
    color: inherit;
    height: calc(1.5em + .75rem + 2px);
    width: 100%;
}

/* Horizontal line */
.hr-body{
    border: 0;
    height: 1px;
}

/* Datepicker container */
.modal .react-datepicker-wrapper{
    width: 100%;
}

/* Datepicker choose date */
.modal .react-datepicker-popper div{
    border-radius: .35em;
}

/* Datepicker month/year select div */
.modal .react-datepicker__header__dropdown--select{
    margin: .5em;
}

/* Datepicker month/year select */
.modal .react-datepicker__month-select,
.modal .react-datepicker__year-select
{
    border-radius: .35em;
}

/* List for Form -> Select */
ul.select-list li{
    margin: 0px;
}

/* Modal footer */
.modal .modal-footer-dark,
.modal .modal-footer-light
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}

/* File Dropzone */
.modal .dropzone{
    display: flex;
    width: 100%;
    height: 5em;
    border: 1px dashed;
    border-radius: .35em;
}

/* File Dropzone Text */
.modal .dropzone p{
    margin: auto;
    font-weight: lighter;
}

/* File Dropzone Error */
.modal .dropzone.error{
    border: 1px dashed !important;
    border-radius: .35em;
}

/* Dark */

/* Modal header */
.modal .modal-header-dark{
    border: 1px solid;
    border-image: linear-gradient(90deg, var(--main-surface-dark) 0%, var(--main-primary-dark) 25%, var(--main-primary-dark) 50%, var(--main-primary-dark) 75%, var(--main-surface-dark) 100%) 0 0 1 0;
    background: var(--main-surface-dark);
    color: var(--main-on-surface-dark);
} 

/* Modal close button */
.modal .modal-open-dark .close {
    color: var(--main-on-surface-dark);
    text-shadow: 0 1px 0 var(--main-on-surface-dark);
}

/* Modal body */
.modal .modal-body-dark {
    background: var(--main-surface-dark);
    color: var(--main-on-surface-dark);
}

/* Form Fields */
.form-control.dark,
.modal .modal-body-dark .dropdown-heading
{
    border-bottom:1px solid var(--main-primary-dark) !important;
}

/* Form multiselect Field */
.modal .modal-body-dark .select-panel,
.modal .modal-body-dark label.select-item
{
    background-color: var(--main-surface-dark) !important;
}

/* Form multiselect options field */
.modal .modal-body-dark .dropdown-heading-value,
.modal .modal-body-dark .dropdown-content .select-panel .select-item
{
    color: var(--main-on-surface-dark) !important;
}

/* Error in Forms */
form .error.dark{
    border-bottom: 1px solid var(--main-error-text-dark) !important;
}

/* Form Custom Select Field */
.form-control.dark.custom-select option{
    background: var(--main-surface-dark);
    color: var(--main-on-surface-dark);
}

/* Form Autocomplete */
input.dark:-webkit-autofill,
input.dark:-webkit-autofill:hover, 
input.dark:-webkit-autofill:focus,
select.dark:-webkit-autofill,
select.dark:-webkit-autofill:hover,
select.dark:-webkit-autofill:focus{
    -webkit-text-fill-color: var(--main-on-surface-dark);
    -webkit-box-shadow: 0 0 0px 1000px var(--main-nav-button-hover-dark) inset;
    box-shadow: 0 0 0px 1000px var(--main-nav-button-hover-dark) inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* Horizontal line */
.hr-body.dark{
    background-image: linear-gradient(to right, var(--main-surface-dark), var(--main-primary-dark), var(--main-surface-dark));
}

/* File Dropzone */
.modal .dropzone.dark{
    border-color: var(--main-primary-dark);
    color: var(--main-on-surface-dark);
}

/* File Dropzone Error */
.modal .dropzone.error.dark{
    border-color: var(--main-error-text-dark) !important;
}

/* Datepicker div */
.modal-open-dark .react-datepicker-popper div{
    background-color: var(--main-surface-dark);
    color: var(--main-on-surface-dark);
    border-color: var(--main-primary-dark);
}

/* Datepicker div triangle */
.modal-open-dark .react-datepicker-popper .react-datepicker__triangle{
    border-bottom-color: var(--main-primary-dark);
}

/* Datepicker div previous button triangle */
.modal-open-dark .react-datepicker-popper .react-datepicker__navigation--previous{
    border-right-color: var(--main-primary-dark);
}

/* Datepicker div next button triangle */
.modal-open-dark .react-datepicker-popper .react-datepicker__navigation--next{
    border-left-color: var(--main-primary-dark);
}

/* Datepicker div month/year select */
.modal-open-dark .react-datepicker__month-select,
.modal-open-dark .react-datepicker__year-select
{
    border: 1px solid var(--main-primary-dark);
    color: var(--main-on-surface-dark);
    background-color: var(--main-nav-button-hover-dark);
}

/* Datepicker div date on hover */
.modal-open-dark .react-datepicker-popper .react-datepicker__day:hover{
    background-color: var(--main-nav-button-hover-dark);
    color: var(--main-on-surface-dark);
}

/* Datepicker div date today */
.modal-open-dark .react-datepicker-popper .react-datepicker__day--today{
    background-color: var(--main-primary-dark);
    color: var(--main-on-primary-dark);
}

/* Footer button for Confirm Modal */
.modal .modal-footer-dark .confirm{
    background-color: var(--main-primary-dark);
    color: var(--main-on-primary-dark);
    border: none;
}

/* Modal Footer */
.modal .modal-footer-dark {
    border: 1px solid;
    border-image: linear-gradient(90deg, var(--main-surface-dark) 0%, var(--main-primary-dark) 25%, var(--main-primary-dark) 50%, var(--main-primary-dark) 75%, var(--main-surface-dark) 100%) 1 0 0 0;
    background: var(--main-surface-dark);
}


/* Light */
.modal .modal-header-light {
    border: 1px solid;
    border-image: linear-gradient(90deg, var(--main-surface-light) 0%, var(--main-primary-light) 25%, var(--main-primary-light) 50%, var(--main-primary-light) 75%, var(--main-surface-light) 100%) 0 0 1 0;
    background: var(--main-surface-light);
    color: var(--main-on-surface-light);
} 

/* Modal close button */
.modal .modal-open-light .close {
    color: var(--main-on-surface-light);
    text-shadow: 0 1px 0 var(--main-on-surface-light);
}

/* Modal body */
.modal .modal-body-light {
    background: var(--main-surface-light);
    color: var(--main-on-surface-light);
}

/* Form Fields */
.form-control.light,
.modal .modal-body-light .dropdown-heading
{
    border-bottom: 1px solid var(--main-primary-light) !important;
}

/* Horizontal line */
.hr-body.light{
    background-image: linear-gradient(to right, var(--main-surface-light), var(--main-primary-light), var(--main-surface-light));
}

/* Error in Forms */
form .error.light{
    border-bottom: 1px solid var(--main-error-text-light) !important;
}

/* Form Custom Select Field */
.form-control.light.custom-select option{
    background: var(--main-surface-light);
    color: var(--main-on-surface-light);
}

/* Form Autocomplete */
input.light:-webkit-autofill,
input.light:-webkit-autofill:hover, 
input.light:-webkit-autofill:focus,
select.light:-webkit-autofill,
select.light:-webkit-autofill:hover,
select.light:-webkit-autofill:focus 
{
  -webkit-text-fill-color: var(--main-on-surface-light);
  -webkit-box-shadow: 0 0 0px 1000px var(--main-nav-button-hover-light) inset;
  box-shadow: 0 0 0px 1000px var(--main-nav-button-hover-light) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* File Dropzone */
.modal .dropzone.light{
    border-color: var(--main-primary-light);
    color: var(--main-on-surface-light);
}

/* File Dropzone Error */
.modal .dropzone.error.light{
    border-color: var(--main-error-text-light) !important;
}

/* Datepicker div */
.modal-open-light .react-datepicker-popper div{
    background-color: var(--main-surface-light);
    color: var(--main-on-surface-light);
    border-color: var(--main-primary-light);
}

/* Datepicker div triangle */
.modal-open-light .react-datepicker-popper .react-datepicker__triangle{
    border-bottom-color: var(--main-primary-light);
}

/* Datepicker div triangle button previous */
.modal-open-light .react-datepicker-popper .react-datepicker__navigation--previous{
    border-right-color: var(--main-primary-light);
}

/* Datepicker div triangle button next */
.modal-open-light .react-datepicker-popper .react-datepicker__navigation--next{
    border-left-color: var(--main-primary-light);
}

/* Datepicker div month/year select */
.modal-open-light .react-datepicker__month-select,
.modal-open-light .react-datepicker__year-select
{
    border: 1px solid var(--main-primary-light);
    color: var(--main-on-surface-light);
    background-color: var(--main-nav-button-hover-light);
}

/* Datepicker date on hover */
.modal-open-light .react-datepicker-popper .react-datepicker__day:hover{
    background-color: var(--main-nav-button-hover-light);
    color: var(--main-on-surface-light);
}

/* Datepicker date today */
.modal-open-light .react-datepicker-popper .react-datepicker__day--today{
    background-color: var(--main-primary-light);
    color: var(--main-on-primary-light);
}

/* Footer & Header Button for Confirm Modal */
.modal .modal-footer-light .confirm,
.modal .modal-header-light .confirm{
    background-color: var(--main-primary-light);
    color: var(--main-on-primary-light);
    border: none;
}

/* Form Footer */
.modal .modal-footer-light {
    border: 1px solid;
    border-image: linear-gradient(90deg, var(--main-surface-light) 0%, var(--main-primary-light) 25%, var(--main-primary-light) 50%, var(--main-primary-light) 75%, var(--main-surface-light) 100%) 1 0 0 0;
    background: var(--main-surface-light);
}