/* Shared */

/* Person container */
.person{
  display: inline-block;
  margin: 5px;
  width: 100%;
  position: fixed;
  padding: 5px;
  z-index: 1;
  visibility: visible !important;
  box-shadow: var(--main-box-shadow)
}

/* Person IMG */
.person img{
  width: 100%;
  height: 15vh;
  min-height: 135px;
  padding: 0;
}

/* Person name */
.name{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 5px 2px;
}

/* Person container made for draggable */
.personcontainer{
  display: inline-block;
  width: 8vw;
  min-width: 150px;
  position: fixed;
  z-index: 1;
  visibility: hidden;
}

/* Person buttons */
.personbutton{
  margin: 2px;
}

/* Inactive person */
.person.inactive{
  border: none !important;
  padding: 6px;
}


/* Dark */

/* Person container */
.person.dark{
  background: var(--main-surface-dark);
  color: var(--main-on-surface-dark);
}

/* Person IMG */
.person.dark img{
  border-color: var(--main-nav-button-hover-dark);
}

/* Active person */
.person.active.dark{
  border-color: var(--main-primary-hover-dark) !important;
}

/* Person buttons */
.btn.personbutton.dark{
  border-color: var(--main-primary-dark);
  color: var(--main-primary-dark);
}

/* Person buttons on hover */
.btn.personbutton.dark:hover{
  background-color: var(--main-primary-dark);
  color: var(--main-on-primary-dark);
}

/* Light */

/* Person container Light */
.person.light{
  background: var(--main-surface-light);
  color: var(--main-on-surface-light);
}

/* Person IMG */
.person.light img{
  border-color: var(--main-nav-button-hover-light);
}

/* Active person */
.person.active.light{
  border-color: var(--main-primary-hover-light) !important;
}

/* Person buttons */
.btn.personbutton.light{
  background-color: var(--main-on-primary-light);
  border-color: var(--main-primary-light);
  color: var(--main-primary-light);
}

/* Person buttons on hover */
.btn.personbutton.light:hover{
  background-color: var(--main-primary-light);
  border-color: var(--main-primary-light);
  color: var(--main-on-primary-light);
}