/* Person Edit Modal */

/* Title */
.modal-title{
  width: 100%;
}

/* Arrow & dot in Timeline component */
.rt-arrow, 
.rt-dot{
  z-index: 0 !important;
}

/* Timeline component */
.rt-timeline{
  min-width: 100%;
}