/* Person Edit Modal */

/* Header */
.modal-header{
  position: sticky;
  top: 0px;
  background: white;
  width: 100%;
  z-index: 99;
}

/* Title */
.modal-title{
  width: 100%;
}

/* Arrow & dot in Timeline component */
.rt-arrow, 
.rt-dot{
  z-index: 0 !important;
}

/* Timeline component */
.rt-timeline{
  min-width: 100%;
}